<!-- ########################Header################################## -->

<%- include ./partials/header.ejs -%>

<!-- ########################Body################################## -->

<h1>Contact</h1>

<p><%= contactStartingContent %></p>





<!-- ########################Footer################################## -->

<%- include ./partials/footer.ejs -%>
