<!-- ########################Header################################## -->

<%- include ./partials/header.ejs -%>

<!-- ########################Body################################## -->


    <h1><%= postTitle %></h1>
    <p><%= postContent %></p>


<!-- ########################Footer################################## -->

<%- include ./partials/footer.ejs -%>